<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="collab-upload">
  <template>
    <style>
      :host {
        display: block;
        padding: 6px;
      }
      .upload-area {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 240px;
        max-height: 360px;
        height: 100%;
        width: 100%;
        border: 1px dashed rgba(0, 0, 0, 0.24);
      }
    </style>
    <div class="upload-area">
      coming soon ...
    </div>
  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'collab-upload'
      });
    })();
  </script>
</dom-module>
