<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="settings-view">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'settings-view',

        ready: function() {
          var connection = hitchon.connection;
          connection.info().then(response => {
            this.host = response.ip;
            this.port = response.port;
          });
        }
      });
    })();
  </script>
</dom-module>
