<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<dom-module id="splash-screen">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background: #FEFEFE;
        transform: translateY(-100%);
        transition: transform ease-out 16ms, opacity ease-out 16ms;
        will-change: transform, opacity;
      }
      :host([show]) {
        transform: translateY(0);
        transition: transform ease-in 16ms, opacity ease-in 16ms;
        opacity: 1;
      }
    </style>

    <paper-spinner active></paper-spinner>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'splash-screen',
        properties: {
          show: {
            type: Boolean,
            reflectToAttribute: true,
            value: true
          }
        }
      });
    })();
  </script>
</dom-module>
