<script>
  Backed(class CustomSection extends HTMLElement {

    static get observedAttributes() {
      return ['name'];
    }

    static get properties() {
      return {
        name: {
          observer: 'nameChanged',
          reflectToAttribute: true
        }
      }
    }

    constructor() {
      super();
    }

    nameChanged(change) {
      this.setAttribute('name', change.value);
    }

    attributeChangedCallback(name, oldValue, newValue) {
      if (oldValue !== newValue) {
        this[name] = newValue;
      }
    }
  });
</script>
