<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="hitch-dialog">
  <template>
    <style>
      :host {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 16ms ease-out;
      }
      :host([shown]) {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 16ms ease-in;
      }
      .dialog {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 130px;
        max-width: 400px;
        min-height: 320px;
        max-height: 80%;
        width: 80%;
        box-sizing: border-box;
        @apply(--shadow-elevation-2dp);
        background: #FEFEFE;
      }
    </style>
    <div class="dialog">
      <content></content>
    </div>
  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'hitch-dialog',

        properties: {
          shown: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        },

        show: function() {
          this.set('shown', true);
        },

        hide: function() {
          this.set('shown', false);
        }
      });
    })();
  </script>
</dom-module>
